<!doctype html>
<html lang="{{ .Site.LanguageCode | default "en-us" }}">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{{ .Title }}</title>
	{{- with .Site.Params.description -}}<meta name="description" content="{{ . }}">{{- end -}}
	{{- with .Site.Params.author -}}<meta name="author" content="{{ . }}">{{- end -}}
	{{ partial "meta-head" . }}
</head>
<body data-smooth-scroll-offset="77">
	{{ partial "header" . }}

	<div class="main-container">
		{{ block "main" . }}{{ end }}
		{{ partial "footer" . }}
	</div>
	{{ partial "body-end" . }}
</body>
</html>
