{{- $values := .Params.testimonials -}}
<section class="text-center bg--primary">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10">
                <div class="slider" data-paging="true">
                    <ul class="slides">
                        {{ range $values }}
                        <li>
                            <div class="testimonial">
                                <blockquote> {{.body}} </blockquote>
                                <h5>{{ .name }}</h5> {{ with .title }}<span>{{ . }}</span>{{ end }}
                            </div>
                        </li>
                        {{ end }}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>